.semafaro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    height: 100vh;
    gap: 40px;
}

.sinal{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}


.vermelho{
    background-color: rgb(245, 8, 8);
}
.amarelo{
    background-color: yellow;
}
.verde{
    background-color: rgb(60, 255, 0);
}