.semafaro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    height: 500px;
    gap: 40px;
    background-color: rgb(68, 63, 63);
    width: 220px;
    border-radius: 25px;
    margin: 0 auto 30px;
}


.sinal{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.vermelho{
    background-color: rgb(245, 8, 8);
}
.amarelo{
    background-color: yellow;
}
.verde{
    background-color: rgb(60, 255, 0);
}