@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto serif", serif;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 15px;
    color: darkgray;
}

.flex-container {
    width: 90%;
    height: 200px;
    background: linear-gradient(rgb(201, 114, 114), rgba(94, 122, 247, 0.61));
    margin: 0 auto 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-item {
    width: 80px;
    height: 80px;
    background-color: rgba(128, 128, 128, 0.5);
    border: 2px solid black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 10px;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}